<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../../static/user/css/login.css">
</head>

<body>
<div id="loginDiv">
    <form action="{% url 'user:login' %}" method="post" id="form">
        <h1 style="text-align: center;color: aliceblue;">LOGIN IN</h1>
        <p>User Name:<input name="username" id="userNname" type="text"><label id="name_trip"></label></p>

        <p>Password: <input name="password" id="password" type="password"><label id="password_trip"></label></p>

        <div style="text-align: center;margin-top: 30px;">
            <input type="submit" class="button" value="login up">
            <input type="reset" class="button" value="reset">
        </div>
    </form>
</div>

</body>
</html>