/*
	Author: Wang https://blog.csdn.net/q475254344
	Last Modified: 2018/5/15
*/
body {
    padding: 0px;
    margin: 0px;
}
.chatcontainer li {
    list-style: none;
}
.chatcontainer input {
    border-radius: 5px;
}
.leftbar ul {
    padding: 0px;
}
.leftbar li {
    padding: 10px;
}
.leftbar {
    background-color: #212e3e;
    width: 50px;
    height: 100%;
    color:grey;
    padding: 0px;
    text-align: center;
    position: absolute;
}
.chatcontainer {
    height: 100%;
    width: 100%;
    background:  linear-gradient(#1f94bf 20%,#edf5f8 0, #edf5f8 80%, #1f94bf 0);
    display: flex;
    margin: 0;
}
.chatbox {
    margin: auto;
    height: 70%;
    width: 70%;
    transform: translateY(-10%);
    box-shadow: 0 0 0 1px gray;
    display: flex;
}
.chatleft {
    background-color: #ffffff;
    width: 25%;
    left: 0;
    height: 100%;
}
.chatleft .top {
    height: 10%;
    color: grey;
    background-color: #F7F9F9;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.chatsearchbtn {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: #1f94bf;
    color: #ECF0F1;
    margin-left: 10px;
}
.chatsearchbtn:hover {
    cursor: pointer;
}
.chatleft .chatcenter {
    overflow-y: scroll;
    height: 90%;
}
.chatleft .chatcenter ul{
    padding-left: 10px;
}
.chatleft .chatcenter li{
    margin: 10px;
}
.chatright {
    background-color: #ffffff;
    width: 75%;
    height: 100%;
}
.chatright .top {
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.chatright .chatcenter {
    background-color: #edf5f8;
    height: 65%;
    overflow-y: scroll;
}
.chatright .chatcenter ul {
    padding: 10px;
}
.chatright .chatcenter li {
    margin: 10px;
    width: 100%;
}
.chatright .chatcenter p{
    display: inline-block;
}
.msgcard {
    margin: 0 10px 0 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 60%;
}

.msgleft {
    float: left;
}

.msgright {
    align: right;
}

.chatright .footer {
    height: 25%;
    background-color: #FBFCFC;
    text-align: right;
}
.chatsendbtn {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: #58D68D;
    color: white;
    font-weight: bold;
    margin:10px 20px 0 0;
}
/*.head_things {*/
/*    z-index: 2;*/
/*    width: 600px;*/
/*    height: 100px;*/
/*    background: url("https://ssbdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=104164912,3429042818&fm=26&gp=jpg") no-repeat;*/
/*    background-size: 100%;*/
/*    position: absolute;*/
/*    border-radius: 15px;*/
/*    top: 52px;*/
/*    left: 428px;*/
/*}*/
/*.head_things ul li{*/
/*    margin: 10px;*/
/*    padding : 15px ;*/
/*    display : inline-block ;*/
/*}*/
/*.head_things ul li a{*/
/*    color: black;*/
/*    font-size: 16px;*/
/*}*/
